#maintitle {
    text-align: center;
}
#signup, #back {
    background-color: transparent;
    border: none;
    color:blue;
}
#signup:hover {
    text-decoration-line: underline;
}

#back {
    color:red;
}


