<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <!--<link rel="stylesheet" href="/static/style.css">-->
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <h1>Bank</h1>
    <h2>Hello! Welcome to this banking system!</h2>
    <p>Please log in.</p>
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="pwd">Password:</label>
    <input type="text" id="pwd" name="pwd"><br><br>
    <button type="button" id="login">Log in</button><br><br>
    <button type="button" id="signup">Sign up</button>
</body>
</html>
