<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Bank</h1>
    <h2>Hello! Welcome to this banking system!</h2>
    <p>Please log in.</p>
    
    <form action="/static/script.js" method="get">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
      <input type="signup" value="Sign up">
    </form>
    
</body>
</html>
