<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <div id="loginPage">
        <h1>Bank</h1>
        <h2>Hello! Welcome to this online banking system!</h2>
        <p>Please log in.</p>
        
        <label for="account">Account Number:</label>
        <input type="text" id="account" name="account"><br><br>

        <label for="pwd">PIN Number:</label>
        <input type="text" id="pin" name="pin"><br><br>

        <button type="button" id="login">Log in</button><br><br>
        <span> Don't have an account?</span>
        <button type="button" id="signup">Sign up</button>
    </div>

    <div id="createPage" style="display:none">
        <h1>Bank</h1>
        <h2>Create your Account</h2>
        
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname"><br><br>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname"><br><br>

        <label for="pwd1">Password:</label>
        <input type="text" id="pwd1" name="pwd1"><br><br>

        <label for="pwd2">Confirm Password:</label>
        <input type="text" id="pwd2" name="pwd2"><br><br>

        <button type="button" id="create">Create Account</button><br><br>
        <button type="button" id="back">Cancel</button>
    </div>
</body>
</html>