<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <h1 id="maintitle">Bank</h1>
    <h2>Create your Account</h2>
    
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname"><br><br>

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname"><br><br>

    <label for="pwd1">Password:</label>
    <input type="text" id="pwd1" name="pwd1"><br><br>

    <label for="pwd2">Confirm Password:</label>
    <input type="text" id="pwd2" name="pwd2"><br><br>

    <button type="button" id="create">Create Account</button><br><br>
    <button type="button" id="back">Cancel</button>
</body>
</html>